.head {
    width: 100%;
    max-width: 1128px;
    height: 99px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0px 40px 0;
    position: relative;

    &__blue-line {
        top: 0;
        position: absolute;
        width: 100%;
        background: #1565C0;
        height: 2px;
    }

    &__logo {
        cursor: pointer;
        margin: 27px 0 0 0;
        width: 205px;
        height: 45px;
    }

    &__account {
        margin: 32px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 14px;

        position: relative;
    }

    &__avatar {
        margin: -1px 5px 0 0;
        width: 40px;
        height: 40px;
    }

    &__name {
        margin: 9px 0 0 0;
        color: var(--272557, #272557);
        font-family: Poppins-500;
        font-size: 14px;
        line-height: 20.4px;
        /* 145.714% */
        letter-spacing: 0.06px;
    }


    &__menu-button-wrapper {
        margin: 5px -9px 0 3px;
        width: 22px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__menu-button {
        width: 3px;
        height: 17px;

    }

}




.head-menu {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    &.active {
        top: 67px;
        left: 40px;
        visibility: visible;
        width: 154px;
        height: 136px;
        background: #fff;
    }

    &__blue-line {
        width: 100%;
        height: 1.563px;
        background: #1565C0;
    }

    &__rows {
        margin: 22px 0 0 30px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        width: 87px;

        color: var(--aebdda, #7791C2);
        font-family: Poppins-400;
        font-size: 14px;
        line-height: 20.4px;
        /* 145.714% */
        letter-spacing: 0.06px;
    }

    &__row {
        width: 100%;
        cursor: pointer;
    }

}