.sidebar {
    margin: 46px 0 0 0;
    width: 130px;
    height: 345px;
    display: flex;
    flex-direction: column;
    gap: 15.5px;
    background-color: transparent;

    &__heading {
        color: var(--272557, #272557);
        font-family: Poppins-400;
        font-size: 18px;
        line-height: 20.4px;
        /* 113.333% */
        letter-spacing: 0.06px;

        &.active {
            color: #1565C0;
        }

        cursor: pointer;
    }

    &__tab {
        width: 130px;
        color: var(--aebdda, #7791C2);
        font-family: Poppins-400;
        font-size: 14px;
        line-height: 20.6px;
        /* 145.714% */
        letter-spacing: 0.06px;

        &.active {
            color: #1565C0;
        }

        cursor: pointer;
    }
}